
body {
    --primary-color: #003470;
    --secondary-color: #003470;
    --accent-color: #003470;
    --light-color: #fff;
    --dark-color: #0c0c0c;
    --background-color: #fff;
    --top-color: #f6f6f6;
    --text-color: #0c0c0c;
    --golden-gradient: repeating-radial-gradient(circle at 50% 25%, #ffb338, #77571d, #3e2904);
    font-family: 'Oswald', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    --primary-color: #1a1a1a;
    --secondary-color: #003470;
    --accent-color: #003470;
    --light-color: #fff;
    --dark-color: #0c0c0c;
    --background-color: #121212;
    --top-color: #1e1e1e;
    --text-color: #f0f0f0;
}